* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    height: 100%;
}

#root, #container {
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #98BFD0;
}

.markdown {
    width: 45%;
    height: 90%;
    background-color: #DEDEEA;
    overflow: auto;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#editor {
    resize: none;
    border: none;
}

#preview code {
    background-color: #BCB9E8;
    padding: 3px;
}

#preview pre {
    display: block;
    overflow: auto;
    background: #BCB9E8;
    padding: 5px;
    line-height: 1.2;
}

#preview blockquote {
    border-left: 3px solid #61678B;
    color: #61678B;
    padding-left: 5px;
    margin-left: 25px;
}